h1 {
    text-align: center;
    color: red;
}
.container {
    width: 100%;

}
table {
    width: 310px;
    text-align:justify;
    border-spacing: 20px; 

}
img {
    width: 310px;
    height: 200px;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
h4 {
    color: #3355cc;
}